* {
  font-family: "Amiri", serif;
}

.card_container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 1px 10px black;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  
}

.card_container:hover{
  transform: scale(1.1); 
}
.background{
  
  background-color: rgba(63, 33, 33, 0.662);
}
.infocard {
  font-weight: bolder;
  text-align: center;
  color: rgb(175, 156, 120);
  width: 350px;
 
}
